{% extends 'BlogComponentBundle::layout.html.twig' %}

{% block center_content %}
    <h1>Article edit</h1>
    <form action="{{ path('article_update', {'urlAlias' : entity.urlAlias}) }}" method="POST"> 
        {{ form_widget(edit_form) }}
        {{ form_rest(edit_form) }}
        <br/>
        <button class="btn btn-sm btn-primary btn-block" type="submit">Submit</button>
    </form>

    <p><a href="{{ path('article') }}" class="btn btn-primary btn-sm" role="button">Retour</a></p>
    <p><a href="{{ path('article_delete', { 'urlAlias': entity.urlAlias }) }}" class="btn btn-primary btn-sm" role="button">Supprimer</a></p>

{% endblock %}
